-- Создание базы данных
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'source_db')
    CREATE DATABASE source_db;

USE source_db;

-- Создание таблиц
IF OBJECT_ID('dbo.Справочники_Номенклатура', 'U') IS NOT NULL
    DROP TABLE dbo.Справочники_Номенклатура;
CREATE TABLE dbo.Справочники_Номенклатура (
    Ссылка varchar(36) NOT NULL,
    Наименование nvarchar(100) NOT NULL
);

IF OBJECT_ID('dbo.Справочники_Партнеры', 'U') IS NOT NULL
    DROP TABLE dbo.Справочники_Партнеры;
CREATE TABLE dbo.Справочники_Партнеры (
    Ссылка varchar(36) NOT NULL,
    Наименование nvarchar(100) NOT NULL,
    ПрофильКлиента nvarchar(100) NULL,
    БизнесРегион varchar(36) NULL,
    ГруппаДоступа varchar(36) NULL,
    мо_ДатаСозданияОбъекта datetime2(0) NULL,
    мо_ДатаИзмененияОбъекта datetime2(0) NULL
);

IF OBJECT_ID('dbo.Документы_Продажи', 'U') IS NOT NULL
    DROP TABLE dbo.Документы_Продажи;
CREATE TABLE dbo.Документы_Продажи (
    Ссылка varchar(36) NOT NULL,
    Дата datetime2(0) NOT NULL,
    Партнер varchar(36) NULL,
    Согласован varchar(36) NULL,
    мо_ДатаСозданияОбъекта datetime2(0) NULL,
    мо_ДатаИзмененияОбъекта datetime2(0) NULL
);

IF OBJECT_ID('dbo.Регистр_Продадж', 'U') IS NOT NULL
    DROP TABLE dbo.Регистр_Продадж;
CREATE TABLE dbo.Регистр_Продадж (
    НоменклатураID nvarchar(32) NOT NULL,
    ДокументID nvarchar(32) NOT NULL,
    ВыручкаСУчетомСкидокБезНалогов numeric(15, 2) NOT NULL,
    СуммаКНП2Доход numeric(15, 2) NOT NULL,
    СтоимостьЗакупкиБезНДС numeric(15, 2) NOT NULL,
    НеликвиднаяПродажа varchar(2) NOT NULL,
    ДокументTип varchar(36) NULL,
    ДокументВид varchar(36) NULL,
    ОбластьДанныхОсновныеДанные numeric(7, 0) NOT NULL,
    Активность varchar(2) NOT NULL
);

-- Наполнение таблицы Справочники_Номенклатура (50 строк)

-- Наполнение таблицы Справочники_Партнеры (50 строк)

-- Наполнение таблицы Документы_Продажи (1000 строк)
-- Для генерации 1000 строк я использую динамический SQL, чтобы упростить вставку
DECLARE @i INT = 1;
WHILE @i <= 1000
BEGIN
    INSERT INTO dbo.Документы_Продажи (Ссылка, Дата, Партнер, Согласован, мо_ДатаСозданияОбъекта, мо_ДатаИзмененияОбъекта)
    VALUES (
        'DOC' + CAST(@i AS VARCHAR(10)),
        DATEADD(DAY, ABS(CHECKSUM(NEWID()) % 1095), '2022-01-01'), -- Случайная дата между 2022 и 2025
        CASE WHEN RAND() < 0.1 THEN NULL ELSE 'PART' + CAST(1 + (ABS(CHECKSUM(NEWID())) % 50) AS VARCHAR(10)) END, -- 10% NULL, иначе PART1-PART50
        CASE WHEN RAND() < 0.8 THEN 'Yes' ELSE 'No' END, -- 80% Yes, 20% No
        DATEADD(DAY, ABS(CHECKSUM(NEWID()) % 1095), '2022-01-01'),
        DATEADD(DAY, ABS(CHECKSUM(NEWID()) % 1095), '2022-01-01')
    );
    SET @i = @i + 1;
END;

-- Наполнение таблицы Регистр_Продадж (1000 строк)
DECLARE @j INT = 1;
WHILE @j <= 1000
BEGIN
    INSERT INTO dbo.Регистр_Продадж (
        НоменклатураID, ДокументID, ВыручкаСУчетомСкидокБезНалогов, СуммаКНП2Доход, СтоимостьЗакупкиБезНДС,
        НеликвиднаяПродажа, ДокументTип, ДокументВид, ОбластьДанныхОсновныеДанные, Активность
    )
    VALUES (
        'NOM' + CAST(1 + (ABS(CHECKSUM(NEWID())) % 50) AS NVARCHAR(10)), -- NOM1-NOM50
        'DOC' + CAST(@j AS NVARCHAR(10)), -- DOC1-DOC1000
        CAST(5000 + (RAND() * 20000) AS NUMERIC(15, 2)), -- 5000-25000
        CAST(RAND() * 2000 AS NUMERIC(15, 2)), -- 0-2000
        CAST(3000 + (RAND() * 15000) AS NUMERIC(15, 2)), -- 3000-18000
        CASE WHEN RAND() < 0.3 THEN '01' ELSE '00' END, -- 30% неликвид
        'Sale',
        CASE WHEN RAND() < 0.6 THEN 'Retail' ELSE 'Wholesale' END, -- 60% Retail
        100 + (ABS(CHECKSUM(NEWID())) % 10), -- 100-109
        '1'
    );
    SET @j = @j + 1;
END;

-- Проверка данных
SELECT 'Справочники_Номенклатура' AS TableName, COUNT(*) AS Row_Cnt FROM dbo.Справочники_Номенклатура
UNION ALL
SELECT 'Справочники_Партнеры', COUNT(*) AS Row_Cnt FROM dbo.Справочники_Партнеры
UNION ALL
SELECT 'Документы_Продажи', COUNT(*) AS Row_Cnt FROM dbo.Документы_Продажи
UNION ALL
SELECT 'Регистр_Продадж', COUNT(*) AS Row_Cnt FROM dbo.Регистр_Продадж;

-- Смена кодировки на содержащую кирилицу
ALTER DATABASE source_db
SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
ALTER DATABASE source_db
COLLATE Cyrillic_General_CI_AS;
ALTER DATABASE source_db
SET MULTI_USER;